.vs/
*.user
*.suo
*.sln.docstates
*.userosscache

[Bb]in/
[Oo]bj/
[Bb]uild/
TestResults/

packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

*.log
*.tlog
*.cache
*.generated.*
*.opendb
*.VC.db

*.pdb
*.ilk
*.obj

_ReSharper*/
*.DotSettings.user

*.tmp
*.bak
*.old
*.orig

*.db
ipch/

Thumbs.db
Desktop.ini
.DS_Store

bin/Debug/dll/
bin/Release/dll/

